body {
    background-color: pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    margin: 40px;
    color: #242424
    border-top: 10px solid #242424
}

h1 {

}

p {


}

#blog {


}

.blog_post{


}